.loader-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #f83f62;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    25% {
        color: #f83f62;
    }
    50% {
        color: #f83f62;
    }
    75% {
        color: #f83f62;
    }
    to {
        transform: rotate(360deg);
    }
}